:root {
  --primary-color: #272727;
  --secondary-color: #808080;
  --headline-color: var(--secondary-color);
  --link-color: #0088cc;
  --link-hover-color: #005580;
  --link-visited-color: purple;
  --link-highlight-color: #fa7176;
  --background-color: #fff;
  --border-top-color: #e5e5e5;
  --border-left-color: var(--border-top-color);
  --footer-color: var(--border-top-color);
  --article-border-bottom-color: var(--border-top-color);
  --tag-color: #FFF;
  --highligt-border-color: #cccccc;
  --highlight-background-color: #282828;
  --link-visited-color: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-color: #bcbcbf;
    --primary-color: #dadbdd;
    --headline-color: var(--secondary-color);
    --link-color: #08c;
    --link-hover-color: #005580;
    --link-visited-color: #d03067;
    --link-highlight-color: #d03067;
    --background-color: #38444c;
    --border-top-color: #697278;
    --border-left-color: var(--border-top-color);
    --footer-color: var(--border-top-color);
    --article-border-bottom-color: var(--border-top-color);
    --tag-color: #FFF;
    --highligt-border-color: #cccccc;
    --highlight-background-color: #282828;

    --color-base: #293238;
    --color-accent: #ec1a62;
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}

@import '/chroma.scss';
@import '/layout.scss';
