@import '/chroma.scss';
@import '/layout.scss';
@import '/nord.scss';

:root {
	--primary-color: var(--nord2);
	--secondary-color: var(--nord1);
	--headline-color: var(--secondary-color);
	--link-color: var(--nord10);
	--link-hover-color: var(--nord9);
	--link-visited-color: var(--nord15);
	--link-highlight-color: var(--nord12);
	--background-color: var(--nord6);
	--border-top-color: var(--nord4);
	--border-left-color: var(--border-top-color);
	--footer-color: var(--border-top-color);
	--article-border-bottom-color: var(--border-top-color);
	--tag-color: var(--nord6);
	--highligt-border-color: var(--nord5);
	--highlight-background-color: #282828;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: var(--nord6);
		--secondary-color: var(--nord5);
		--headline-color: var(--secondary-color);
		--link-color: var(--nord9);
		--link-hover-color: var(--nord10);
		--link-visited-color: var(--nord15);
		--link-highlight-color: var(--nord12);
		--background-color: var(--nord2);
		--border-top-color: var(--nord1);
		--border-left-color: var(--border-top-color);
		--footer-color: var(--border-top-color);
		--article-border-bottom-color: var(--border-top-color);
		--tag-color: var(--nord6);
		--highligt-border-color: var(--nord5);
		--highlight-background-color: #282828;
	}
	img {
		opacity: .75;
		transition: opacity .5s ease-in-out;
	}

	img:hover {
		opacity: 1;
	}
}
